<div class="min-h-screen bg-gray-900 p-6">
  <!-- Title and Back Button -->
  <div class="flex items-center justify-between mb-10">
    <button
      (click)="router.navigate(['/'])"
      class="flex items-center justify-center px-4 py-2 bg-indigo-500 text-white font-semibold rounded-lg shadow-md"
    >
      <mat-icon>arrow_back</mat-icon>
      <span class="ml-2 hidden sm:inline">Back to Dashboard</span>
    </button>
    <h1 class="text-3xl font-extrabold text-indigo-400 text-center flex-1">Manage Clients</h1>
    <div class="w-12"></div>
  </div>

  <!-- Open New Client Creation Form -->
  <button *ngIf="!isNewClientOpen"
          (click)="toggleClientForm()"
          class="w-full flex items-center justify-center px-4 py-2 bg-green-500 text-white font-semibold rounded-lg shadow-md hover:bg-green-600 mb-3"
  >
    <mat-icon>person_add</mat-icon>
    <span class="ml-2">Create Client</span>
  </button>

  <!-- New Client Creation Form -->
  <div *ngIf="isNewClientOpen" class="bg-gray-800 p-6 rounded-lg shadow-md mb-4">
    <h2 class="text-xl text-gray-300 mb-4">Create New Client</h2>
    <form [formGroup]="clientForm" (ngSubmit)="createClient()">
      <div class="mb-4">
        <label for="newClientName" class="block text-gray-300 mb-2">First Name</label>
        <input
          id="newClientName"
          type="text"
          formControlName="newClientName"
          placeholder="Enter first name"
          class="w-full p-3 rounded-lg bg-gray-700 text-gray-200 placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-indigo-500"
          required
        />
      </div>
      <div class="mb-4">
        <label for="newClientFamily" class="block text-gray-300 mb-2">Last Name</label>
        <input
          id="newClientFamily"
          type="text"
          formControlName="newClientFamily"
          placeholder="Enter last name"
          class="w-full p-3 rounded-lg bg-gray-700 text-gray-200 placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-indigo-500"
          required
        />
      </div>
      <button
        type="submit"
        class="w-full flex items-center justify-center px-4 py-2 bg-green-500 text-white font-semibold rounded-lg shadow-md hover:bg-green-600"
      >
        <mat-icon>person_add</mat-icon>
        <span class="ml-2">Create Client</span>
      </button>
    </form>
  </div>

  <!-- Client List -->
  <div class="bg-gray-800 p-6 rounded-lg shadow-md">
    <h2 class="text-white text-xl font-bold mb-4">Clients</h2>
    <ul>
      <li
        *ngFor="let client of filteredClients"
        class="p-3 bg-gray-700 text-white rounded-lg mb-2 flex justify-between items-center"
      >
        <div (click)="editClient(client)" class="cursor-pointer">
          <ng-container *ngIf="editingClient?.id === client.id; else viewMode">
            <input
              [(ngModel)]="editingClient ? editingClient.name : client.name"
              type="text"
              class="w-1/3 p-2 rounded-lg bg-gray-600 text-white focus:ring-2 focus:ring-indigo-500"
            />
            <input
              [(ngModel)]="editingClient.family ? editingClient.family : client.family"
              type="text"
              class="w-1/3 p-2 rounded-lg bg-gray-600 text-white focus:ring-2 focus:ring-indigo-500"
            />
          </ng-container>
          <ng-template #viewMode>
            <span>{{ client.name }} {{ client.family }}</span>
          </ng-template>
        </div>
        <div>
          <button
            *ngIf="editingClient?.id === client.id"
            (click)="saveClient(client)"
            class="px-4 py-2 bg-green-500 text-white rounded-lg shadow-md hover:bg-green-600"
          >
            Save
          </button>
          <button
            (click)="removeClient(client)"
            class="px-4 py-2 bg-red-500 text-white rounded-lg shadow-md hover:bg-red-600 ml-2"
          >
            Remove
          </button>
        </div>
      </li>

    </ul>
  </div>
</div>
