<div class="min-h-screen bg-gray-900 p-6">
  <!-- Title and Back Button -->
  <div class="flex items-center justify-between mb-10">
    <button
      (click)="router.navigate(['/new-order'])"
      class="flex items-center justify-center px-4 py-2 bg-indigo-500 text-white font-semibold rounded-lg shadow-md"
    >
      <mat-icon>arrow_back</mat-icon>
      <span  class="ml-2 hidden sm:inline">Back to New Order</span>
    </button>

    <h1 class="text-3xl font-extrabold text-indigo-400 text-center flex-1">Order Details</h1>

    <div class="w-12"></div>
  </div>

  <!-- Complete Order Form -->
  <div class="bg-gray-800 p-6 rounded-lg shadow-md">
    <form [formGroup]="completeOrderForm" (ngSubmit)="submitOrder()">
      <!-- Order Title -->
      <div class="mb-4">
        <label for="orderTitle" class="block text-gray-300 mb-2">Order Title</label>
        <input
          id="orderTitle"
          type="text"
          formControlName="orderTitle"
          placeholder="Enter order title"
          class="w-full p-3 rounded-lg bg-gray-700 text-gray-200 placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-indigo-500"
          required
        />
      </div>

      <!-- Order Title -->
      <div *ngIf="client" class="mb-4">
        <label for="orderTitle" class="block text-gray-300 mb-2">Order Client</label>
        <input
          id="orderClient"
          type="text"
          placeholder="Enter order title"
          [value]="client?.name + ' ' + client?.family "
          class="w-full p-3 font-bold rounded-lg bg-gray-700 text-gray-500 placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-indigo-500 first-letter:uppercase"
          disabled
        />
      </div>

      <!-- Order Date and Time -->
      <div class="mb-4">
        <label for="orderDateTime" class="block text-gray-300 mb-2">Order Date & Time</label>
        <input
          id="orderDateTime"
          type="datetime-local"
          formControlName="orderDateTime"
          class="w-full p-3 rounded-lg bg-gray-700 text-gray-200 focus:outline-none focus:ring-2 focus:ring-indigo-500"
          required
        />
      </div>

      <!-- Order Delivery Type -->
      <div class="mb-4">
        <label for="orderDeliveryType" class="block text-gray-300 mb-2">Delivery Type</label>
        <select
          id="orderDeliveryType"
          formControlName="orderDeliveryType"
          class="w-full p-3 rounded-lg bg-gray-700 text-gray-200 focus:outline-none focus:ring-2 focus:ring-indigo-500"
          required
        >
          <option *ngFor="let type of deliveryTypes" [value]="type.value">
            {{ type.label }}
          </option>
        </select>

      </div>

      <!-- Order Currency Type -->
      <div class="mb-4">
        <label for="orderCurrencyType" class="block text-gray-300 mb-2">Currency Type</label>
        <select
          id="orderCurrencyType"
          formControlName="orderCurrencyType"
          class="w-full p-3 rounded-lg bg-gray-700 text-gray-200 focus:outline-none focus:ring-2 focus:ring-indigo-500"
          required
        >
          <option *ngFor="let currency of currencyTypes" [value]="currency.value">
            {{ currency.label }}
          </option>
        </select>
        <div *ngIf="completeOrderForm.get('orderCurrencyType')!.invalid" class="text-red-500 mt-1">
          Currency Type is required.
        </div>
      </div>

      <!-- Order Stuffs -->
      <div formArrayName="orderStuffs" class="mb-6">
        <h2 class="text-2xl text-gray-300 mb-4">Order Items</h2>
        <div *ngFor="let stuff of orderStuffs.controls; let i = index" [formGroupName]="i" class="mb-4 p-4 bg-gray-700 rounded-lg">
          <div class="flex justify-between items-center mb-2">
            <h3 class="text-xl text-gray-200">Item {{ i + 1 }}</h3>
            <button
              type="button"
              (click)="removeOrderStuff(i)"
              class="text-red-500 hover:text-red-400"
              [disabled]="orderStuffs.length === 1"
            >
              <mat-icon>remove_circle</mat-icon>
            </button>
          </div>

          <!-- Item Title -->
          <div class="mb-2">
            <label class="block text-gray-300 mb-1">Title</label>
            <input
              type="text"
              formControlName="title"
              placeholder="Item title"
              class="w-full p-2 rounded bg-gray-600 text-gray-200 focus:outline-none focus:ring-2 focus:ring-indigo-500"
              required
            />
          </div>

          <!-- Manufacturer Country -->
          <div class="mb-2">
            <label class="block text-gray-300 mb-1">Manufacturer Country</label>
            <input
              type="text"
              formControlName="manufacturerCountry"
              placeholder="Country"
              class="w-full p-2 rounded bg-gray-600 text-gray-200 focus:outline-none focus:ring-2 focus:ring-indigo-500"
              required
            />
          </div>

          <!-- Manufacturer Name -->
          <div class="mb-2">
            <label class="block text-gray-300 mb-1">Manufacturer Name</label>
            <input
              type="text"
              formControlName="manufacturerName"
              placeholder="Manufacturer"
              class="w-full p-2 rounded bg-gray-600 text-gray-200 focus:outline-none focus:ring-2 focus:ring-indigo-500"
              required
            />
          </div>

          <!-- Weight -->
          <div class="mb-2">
            <label class="block text-gray-300 mb-1">Weight (kg)</label>
            <input
              type="number"
              formControlName="weight"
              min="0"
              placeholder="Weight"
              class="w-full p-2 rounded bg-gray-600 text-gray-200 focus:outline-none focus:ring-2 focus:ring-indigo-500"
              required
            />
          </div>

          <!-- Price -->
          <div class="mb-2">
            <label class="block text-gray-300 mb-1">Price</label>
            <input
              type="number"
              formControlName="price"
              min="0"
              placeholder="Price"
              class="w-full p-2 rounded bg-gray-600 text-gray-200 focus:outline-none focus:ring-2 focus:ring-indigo-500"
              required
            />
          </div>
        </div>

        <button
          type="button"
          (click)="addOrderStuff()"
          class="flex items-center justify-center px-4 py-2 bg-indigo-500 text-white font-semibold rounded-lg shadow-md hover:bg-indigo-600"
        >
          <mat-icon>add_circle</mat-icon>
          <span class="ml-2">Add Another Item</span>
        </button>
      </div>

      <!-- Order Total Price -->
      <div class="mb-4">
        <label for="orderTotalPrice" class="block text-gray-300 mb-2">Order Total Price</label>
        <input
          id="orderTotalPrice"
          type="number"
          formControlName="orderTotalPrice"
          placeholder="Enter order total price"
          class="w-full p-3 rounded-lg bg-gray-700 text-gray-200 focus:outline-none focus:ring-2 focus:ring-indigo-500"
        />
      </div>



      <!-- Submit Button -->
      <button
        type="submit"
        class="w-full flex items-center justify-center px-4 py-2 bg-green-500 text-white font-semibold rounded-lg shadow-md hover:bg-green-600"
      >
        <mat-icon>save</mat-icon>
        <span class="ml-2">Submit Order</span>
      </button>
    </form>
  </div>
</div>
