<div class="min-h-screen flex items-center justify-center bg-gray-900 px-4 sm:px-6 lg:px-8">
  <div class=" max-w-md w-full space-y-8 p-6 sm:p-8 bg-gray-800 shadow-md rounded-lg">
    <div class="flex justify-center items-center w-full">
      <img class="w-20" src="assets/images/logo.PNG" alt="logo">
    </div>
<!--    <h2 class="text-center text-2xl font-bold text-indigo-400">Sign in to your account</h2>-->
    <form [formGroup]="loginForm" (ngSubmit)="login()" class="space-y-6">
      <div>
        <label for="username" class="block text-sm font-medium text-gray-400">Username</label>
        <input
          type="text"
          formControlName="username"
          id="username"
          class="mt-1 w-full px-3 py-2 bg-gray-700 text-gray-200 border border-gray-600 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 placeholder-gray-400"
          placeholder="Enter your username"
        />
      </div>
      <div>
        <label for="password" class="block text-sm font-medium text-gray-400">Password</label>
        <input
          type="password"
          formControlName="password"
          id="password"
          class="mt-1 w-full px-3 py-2 bg-gray-700 text-gray-200 border border-gray-600 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 placeholder-gray-400"
          placeholder="Enter your password"
        />
      </div>
      <button
        type="submit"
        class="w-full py-2 px-4 bg-indigo-600 text-white font-medium rounded-md shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
      >
        Sign In
      </button>
    </form>
  </div>
</div>
